.card {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 0.63rem;
  background: #1A1B21;
  width: 19.81rem;
}

.section {
  padding: 0 2.19rem;
}

.section-title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2.06rem;
}

.section-content {
  font-size: 0.64rem;
}

/* INFO SECTION */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info img {
  width: 19.81rem;
  border-radius: 0.63rem 0.63rem 0 0;
}

.info--name {
  font-weight: 700;
  font-size: 1.56rem;
  margin-top: 1.31rem;
}

.info--role {
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  color: #F3BF99;
}

.info--btn-row {
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.56rem;
  font-size: 0.88rem;
  font-weight: 500;
  width: 7.19rem;
  height: 2.13rem;
  text-decoration: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.56rem 0.81rem 0.56rem 0.69rem;
}

.email-button {
  color: #374151;
  border: 1px solid #D1D5DB;
  background: #FFFFFF;
}

.linkedin-button {
  color: #FFFFFF;
  background: #5093E2;
  border: none;
}

/* FOOTER */
footer {
  background: #161619;
  margin-top: 2rem;
  border-radius: 0 0 0.63rem 0.63rem;
}

.socialMedia-row {
  display: flex;
  justify-content: space-between;
  margin: 0 3.06rem;
  padding: 1.25rem;
}

.icon {
  color: #918E9B;
  font-size: 1.56rem;
}