* {
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  background-color: #23252C;
  color: #FFFFFF;
}